.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  background: aliceblue;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-icon {
}

.vector-down {
  padding: 0 22px 0 10px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  padding: 0 0 0 85px;
  margin: 0;
}

.link__active {
  color: #5ece7b;
  border-bottom: 2px solid #5ece7b;
}

.link__active a {
  color: #5ece7b !important;
  text-decoration: none;
}

/* .link {
  list-style: none;
} */

.link {
  text-decoration: none;
  cursor: pointer;
  list-style: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  padding: 28px 32px 32px 32px;
  color: #1d1f22;
}

.link a {
  color: #1d1f22;
  text-decoration: none;
}

.actions {
  width: 204px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 101px 0 0;
  position: relative;
  transition: 0.5s all ease;
}

.actions img {
  cursor: pointer;
}

.currency {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
}

.switcher {
  z-index: 10;
  padding: 20px 40px 20px 20px;
  position: absolute;
  /* width: 114px;
  height: 169px; */
  right: 80px;
  top: 60px;
  background: #ffffff;
  filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
  border-bottom: 5px solid transparent;
  transition: 0.5s all ease;
}

.bars {
  font-size: 2rem;
  display: none;
}

.switcher:hover {
  border-bottom: 5px solid transparent;
}

.switcher__active {
}

.switcher h1 {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 28.8px;
}

.switcher h1:nth-child(2) {
  padding: 21px 0;
}

.itemsInCart {
  position: absolute;
  margin: 0;
  top: -2px;
  right: 91px;
  width: 20px;
  height: 20px;
  background: #1d1f22;
  border-radius: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: center;
}

@media (max-width: 750px) {
  .bars {
    font-size: 2rem;
    display: unset;
  }

  .header nav {
    padding-top: 20px;
  }

  .actions {
    display: none;
  }

  .brand-icon {
    display: none;
  }

  .navLinks {
    padding: 0;
    flex: 3;
    justify-content: space-around;
  }

  .link {
    padding: 0;
  }

  .bars {
    flex: 0.5;
    cursor: pointer;
  }
  .bars:hover {
    color: rgb(100, 97, 96);
  }

  .mobileNav {
    background: aliceblue;
    max-width: 70%;
    width: 100%;
    background-color: rgb(162, 212, 207);
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1200ms ease-in-out;
  }

  .mobileNav__active {
    transition: 1200ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
  }

  .mobileNavLink {
    list-style: none;
    width: 12rem;
    text-decoration: none;
    cursor: pointer;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #1d1f22;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .mobileNavLink svg {
    padding-right: 1rem;
  }

  .mobileNavLink h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #1d1f22;
    margin: 0;
  }

  .mobileNavLink:hover {
    background-color: rgb(38, 116, 28);
    transition: 0.5s all ease;
    color: #ffffff;
  }

  .mobileNavLink a:hover {
    transition: 0.5s all ease;
    color: #ffffff;
  }

  .mobileNavLink h1:hover {
    transition: 0.5s all ease;
    color: #ffffff;
  }
  /* 
  .mobileNavLink span {
    width: 32px;
    text-align: center;
    padding-right: 1rem;
  } */

  .mobCurrency {
    padding: 0 1.3rem 0 0.2rem;
    font-size: 20px;
    font-weight: 500;
  }

  .mobileNavLink a {
    color: #1d1f22;
    text-decoration: none;
  }

  .mobileActions {
    width: fit-content;
    /* height: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 101px 0 0;
    position: relative;
    transition: 0.5s all ease;
  }

  .mobileSwitcher {
    z-index: 10;
    /* padding: 20px 40px 20px 20px; */
    position: absolute;
    /* width: 114px;
    height: 169px; */
    /* right: 80px;
    top: 60px; */
    background: #ffffff;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
    border-bottom: 5px solid transparent;
    transition: 0.5s all ease;
  }

  .mobileNavSwitcher {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .mobileNavSwitcher li {
    width: 12rem;
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .mobileNavSwitcher li:hover {
    background-color: rgb(38, 116, 28);
    transition: 0.5s all ease;
    color: #ffffff;
  }

  .mobileNavSwitcher h1:hover,
  .mobileNavSwitcher span:hover {
    transition: 0.5s all ease;
    color: #ffffff;
  }

  .mobileNavSwitcher span {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #1d1f22;
    margin: 0;
    padding: 0 1.3rem 0 0.2rem;
  }

  .mobileNavSwitcher h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #1d1f22;
    margin: 0;
  }

  .displayNone {
    display: none;
    transition: 0.5s all ease;
  }
}
